$colorGris: rgb(218, 211, 211);

$colorAmarillo: yellow;
$colorRojo: red;
$colorVerde: green;

@mixin trabajandoMargenes($margin) {
    $margin: 15px;
}

@mixin trabajandoPadding($padding) {
    color: $padding;
}

@mixin trabajandoColores($color) {
    color: $colorAmarillo;
}

@mixin trabajandoAltura($altura) {
    height: $altura;
}

@mixin contenedorTarjeta($ancho, $alto) {
    height: $alto;
    width: $ancho;
}

body{
    background: $colorGris;
}

.cajaDeComentario > textarea{
    // height: 80px;
    @include trabajandoAltura(80px);
}

.contenedorTarjeta > .card > img{
    @include contenedorTarjeta(286px, 484px);
}